<div class="navbar">
  <a href="/" class="font-title">LE BARDA.</a>
  <div style="flex-grow:1"></div>
  <div class="menu-items">
    <div class="menu-item">
      <a href="">HOME</a>
    </div>
    <div class="menu-item">
      <a href="">ALL BARDAS</a>
    </div>
    <div class="menu-item">
      <a href="">ALL ITEMS</a>
    </div>
    <div class="menu-item">
      <a href="">MY LIKES</a>
    </div>
  </div>
</div>
