.navbar {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  padding: 15px;
  .font-title {
    font-size: 26px;
    font-weight: bolder;
  }
  a {
    color: #787774;
    font-size: 12px;
    &:hover {
      text-decoration: none;
    }
  }
  .menu-items {
    display: flex;
    .menu-item {
      padding: 0px 15px;
      min-width: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        font-weight: bolder;
      }
    }
  }
}
